<mat-progress-bar
  mode="indeterminate"
  color="warn"
  [ngStyle]="{ height: '3px' }"
  *ngIf="isLoading"
></mat-progress-bar>
<div class="login-container" *ngIf="!isLoading">
  <h1 class="mat-display-3">Frank's User Admin</h1>
  <p>Please use either your valid username or email to login</p>
  <mat-card>
    <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          name="email"
          [(ngModel)]="email"
          placeholder="Ex. john@doe.com"
          email
          ngModel
          #emailInput="ngModel"
          [disabled]="username?.length > 0"
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email.</mat-error
        >
        <mat-hint
          >Enter a valid email to signin or to enable Forgot Password
        </mat-hint>
      </mat-form-field>

      <h3 style="text-align: center">OR</h3>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          [(ngModel)]="username"
          ngModel
          #usernameInput="ngModel"
          maxlength="30"
          [disabled]="email?.length > 0"
        />
        <mat-hint align="end">{{ usernameInput.value?.length }} / 30</mat-hint>
        <mat-error *ngIf="usernameInput.invalid"
          >Please enter a valid username.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          required
          ngModel
          #passwordInput="ngModel"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>
      <div class="submit-btn">
        <mat-divider></mat-divider>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          *ngIf="!isLoading"
        >
          Login
        </button>

        <button
          mat-raised-button
          color="accent"
          type="button"
          *ngIf="!isLoading"
          (click)="onForgotPassword()"
          [disabled]="!email || emailInput.invalid"
        >
          Forgot Password
        </button>
      </div>
    </form>
  </mat-card>
</div>
