<mat-progress-bar
  mode="indeterminate"
  color="warn"
  [ngStyle]="{ height: '3px' }"
  *ngIf="isLoading"
></mat-progress-bar>
<app-header
  [isEditMode]="isEditMode"
  (editCompleted)="isEditCompleted($event)"
></app-header>
<div class="container" *ngIf="isUserAuthenticated() && !isEditMode">
  <div class="container-title">
    <h1 class="mat-display-1 title-header">All Users</h1>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Camp"
        #input
      />
    </mat-form-field>
  </div>

  <div class="container-users mat-elevation-z8">
    <div class="user-table">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        matSort
        class="hover"
      >
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>@username</th>
          <td mat-cell *matCellDef="let row" (click)="currentRow(row)">
            <!-- <span class="user-avatar"
                ><img [src]="row.avatar" [alt]="row.username" />&nbsp;</span
              > -->
            <span class="username">{{
              row.username + (getCurrentUserId() === row._id ? " (you)" : "")
            }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row" (click)="currentRow(row)">
            {{ row.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
          <td mat-cell *matCellDef="let row" (click)="currentRow(row)">
            {{ row.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin?</th>
          <td mat-cell *matCellDef="let row" (click)="currentRow(row)">
            {{ row.isAdmin ? "Y" : "N" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isSuperAdmin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SuperAdmin?</th>
          <td mat-cell *matCellDef="let row" (click)="currentRow(row)">
            {{ row.isSuperAdmin ? "Y" : "N" }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="[
            'username',
            'name',
            'email',
            'isAdmin',
            'isSuperAdmin'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: ['username', 'name', 'email', 'isAdmin', 'isSuperAdmin']
          "
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
<app-user-edit
  *ngIf="isEditMode"
  [selectedUser]="selectedUser"
  [staticData]="staticData"
  (editCompleted)="isEditCompleted($event)"
  (showLoading)="showLoading($event)"
></app-user-edit>
