<mat-toolbar color="primary">
  <span>
    <a>Frank's User Admin</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <!-- Apply mat-accent color when link is active -->
    <li *ngIf="isUserAuthenticated() && isEditMode">
      <!-- <a mat-button routerLink="/admin" routerLinkActive="mat-accent"> Home </a> -->
      <a mat-button (click)="onHome()"> Home </a>
    </li>
    <li *ngIf="isUserAuthenticated()">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
